.product-card-cont {
    height: auto;
    width: 14rem;
    cursor: pointer;
    margin-top: 1rem;
    padding: 2%;
}

#product-card-img {
    height: 60%;
    width: 100%;
    cursor: pointer;
    position: relative;
}

#product-card-img img {
    height: 98%;
    width: 100%;

}

.rated-card-content {
    height: 40%;
    width: 100%;

}

.card-content-type {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7rem;
    padding: .5rem .3rem;
}

.card-content-name-like {
    height: auto;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.card-content-name {
    height: 100%;
    width: 80%;
    padding: .3rem;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.star {
    width: 1rem;
    background-color: #fff;
}

.addedToCartProduct {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    letter-spacing: 2px;
    padding: 0.5rem;
    background-color: #f2fffe;
    color: #000;
    border: 2px solid #a1f0ea;
}

.outOfStockLabel {
    width: 90%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    justify-content: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.774);
    letter-spacing: 3px;
    position: absolute;
    bottom: 2rem;
    right: 5%;
    color: #000;
    left: 5%;
}

#cardHoverImg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease, transform 2s cubic-bezier(0, 0, .44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, .44, 1.18);

}

#product-card-img:hover>#cardHoverImg {

    opacity: 1;
}


@media (max-width: 480px) {
    .procduct-card-cont {
        height: auto;
        width: 10rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    .outOfStockLabel {
        padding-left: 18px;
    }
}

@media (min-width: 481px) and (max-width: 810px) {
    .procduct-cont {
        cursor: pointer;
        margin-top: 4rem;
    }

}